
button {
  background: navy;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
}

main {
  text-align: center;
}

section {
  text-align: center;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.register {
  text-align:center;
  margin-top:200px;
  background: aliceblue;
  color: navy;
}
